h1{
    color: red;
} 
p,
li {
    color: blue
}             
.special {
    color: orange;
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse'
}                             
th, td {
    padding: 10px;
    text-align: left
}                   
.test {
   width: 400px;
   height: 600px;
   background-color: blue
}